<div class="col-md-3">
    <% if new_book.errors.any? %>
            <%= new_book.errors.count %>error prohibited this obj from being saved:
            <% new_book.errors.full_messages.each do |message| %>
                <%= message %>
            <% end %>
    <% end %>
    <table class="table table-striped">
     <h1>User info</h1>
    <table class="table table-striped">
    <%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
    <thead>
        <tr>
            <th>name</th>
            <th><%= user.name %></th>
        </tr>
        <tr>
            <th>introduction</th>
            <th><%= user.introduction %></th>
        </tr>
    </thead>
    </table>

    <%= link_to "", edit_user_path(user.id), class:"btn btn-outline-secondary btn-block fas fa-user-cog" %>


    <%= form_with model: new_book, url:'/books', local: true do |f| %>
        <h1>New book</h1>

            <h4>Title</h4><br/>
            <%= f.text_area :title %>
            <h4>Opinion</h4><br/>
            <%= f.text_area :body %>
            <br/>
            <%= f.submit 'Create Book' %>
        </table>
    <% end %>
</div>
