<h2>User info</h2>
<% if @user.errors.any? %>
  <%= @user.errors.count %>error prohibited this obj from being saved:
  <% @user.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>
<%= form_with model:@user, url: user_path(@user), local:true do |f| %>
  <div><label for="inputName">Name</label></div>
  <div><%= f.text_field :name, autofocus: true, id:"inputName" %></div>
  
  <div><label for="inputImage">Image</label></div>
  <div><%= f.attachment_field :profile_image %></div>
  
  <div><label for="inputName">Introduction</label></div>
  <div><%= f.text_field :introduction, autofocus: true, id:"inputName" %></div>
  
  <div><%= f.submit "Update User" %></div>
<% end %>
