<h1>Editing Book</h1>
<% if @book.errors.any? %>
            <%= @book.errors.count %>error prohibited this obj from being saved:
            <% @book.errors.full_messages.each do |message| %>
                <%= message %>
            <% end %>
<% end %>
            
<%= form_with model:@book, local:true do |f| %>
    <label for="inpuTitle">Title</label></br>
    <%= f.text_field :title, autofocus: true %></br>
    <label for="inpuTitle">Opinion</label></br>
    <%= f.text_field :body, autofocus: true %></br>
    <%= f.submit"Update Book" %>
    <%= link_to "Show", book_path %>|<%= link_to "Back", books_path %>
<% end %>
